html, body, .App {
  background-color: rgba(0, 0, 0, 0.9);
}

.Navbar {
  min-height: 100vh;
  color: white;
  border-right: solid white;
  text-align: center;
  margin-top: 2.5em
}

.Note {
  color: white;
  margin-top: 2em
}